<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update_User</title>
</head>
<body>
<form th:action="@{/admin/update}" method="post"
      th:object="${user}">

    <label for="name">Id</label>
    <input type="text" class="form-control" id="id" th:field="*{id}" hidden> </input>

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" th:field="*{name}"> </input>

    <label for="password">Password</label>
    <input type="text"  class="form-control" id="password" name="password"> </input>

    <p><b>Roles</b></p>
    <p><input type="checkbox" name="role1" value="ADMIN">ADMIN<Br>
        <input type="checkbox" name="role2" value="USER">USER<Br>
    <p><input type="submit" value="Add"></p>

    <a href="/">AT MAIN PAGE</a>
</form>
</body>
</html>